{% include 'base.html' %}
<div class="row">
    <div class="book_title col-sm-12 mx-3 mt-3">
        <h4> The Secret Garden </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align: center;"><img src='https://images-na.ssl-images-amazon.com/images/I/51FKbb7PuRL.jpg'alt="old-english-fonts" border="0"></div>
    <div class="col-sm-8">
        <div class="mx-1 my-2">
            <h5>Frances Hodgson Burnett</h5>
            <p style="color:grey;">2005<p>
        </div>
        <div class="mx-1">
            <p>"The Secret Garden" is the story of Mary Lennox, a sick young girl living in India with her parents. Mary rarely sees her parents though, as her sick and unsightly condition is too much for them to bother with. She is placed in the constant care of Indian servants until an outbreak of cholera kills everyone in the Lennox household except for Mary. Mary returns to Yorkshire to live with her uncle, Archibald Craven. It is here that Mary learns of a secret garden that belonged to the late wife of her uncle. Mary is instantly intrigued and sets out to find this secret garden and what is contained within.</p>
        </div>
        <div class="mx-1">
            <a href="https://www.amazon.com/Secret-Garden-Frances-Hodgson-Burnett-ebook/dp/B0083Z614S/ref=sr_1_2?keywords=The+Secret+Garden&qid=1585075749&sr=8-2">Buy now</a>
        </div>
    </div>
</div>