{% include 'base.html' %}
<div class="row">
    <div class="book_title col-sm-12 mx-3 mt-3">
        <h4> A Brief History of Time </h4>
    </div>
</div>
<div class="row">
    <div class="col-sm-4" style="text-align: center;"><img src='https://resizing.flixster.com/gJYfSN1CCLyc02Q_M0vM8LxolGY=/206x305/v1.bTsxMTIyMDA3ODtqOzE4NDQ0OzEyMDA7OTk2OzEzMjg' width="100" alt="old-english-fonts" border="0"></div>
    <div class="col-sm-8">
        <div class="mx-1 my-2">
            <h5>Stephen Hawking</h5>
            <p style="color:grey;">2005<p>
        </div>
        <div class="mx-1">
            <p>This landmark book is for those of us who prefer words to equations; this is the story of the ultimate quest for knowledge, the ongoing search for the secrets at the heart of time and space. Its author, Stephen W. Hawking, is arguably the greatest mind since Einstein. From the vantage point of the wheelchair, where he has spent the last 20 years trapped by Lou Gehrig's disease, Professor Hawking has transformed our view of the universe. A Brief History of Time is Hawking's classic introduction to today's most important scientific ideas about the cosmos. It is read here by the Emmy Award-winning host of The Michael Jackson Show on KABC-TV.</p>
        </div>
        <div class="mx-1">
            <a href="https://www.amazon.com/A-Brief-History-of-Time/dp/B0000545OB/ref=sr_1_2?crid=2VEHE8G658Y5T&keywords=brief+history+of+time+hawking&qid=1585076481&sprefix=brief+hist%2Caps%2C379&sr=8-2">Buy now</a>
        </div>
    </div>
</div>
